body{
  font-family:helvetica;
}

.container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.dark-blue-text {
  color:white;
}

h1{
  font-size: 180%;
  margin-top:10px;
  color: white;
}

img{
  object-fit:cover;
}

.row{
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel-item img{
  height:500px;
  object-fit: cover;
}

section{
  margin-top: 20px;
  margin-bottom: 20px;
}


h2{
  margin-top:20px;
}

.span_fellows{
  font-size: 16pt;
}

.bloc{
  width:500px;
}

.bloc img{
  opacity:0.4;
  width:100%;
  height:400px;
  object-fit: cover;
}

.reward{
  z-index:1;
  width: 86%;
  height: 90px;
  left:7%;
  top:3%;
  text-align:center;
  background-color:rgba(255,255,255,0.8); 
  position:absolute;
  font-size:200%;
  line-height: 1;
  border-radius:10px;
  padding-left:10%;
  padding-right:10%;
  padding-top: 3%;
}

.nom{
  position:absolute;
  width:80%;
  text-align:center;
  bottom:50%;
  font-size: 300%;
  color:white;
}

.bloc:hover img{
  opacity:1;
}

.bloc:hover p{
  display:none;
  top:150px;
}

.bloc:hover h4{
  position:absolute;
  width:80%;
  text-align:center; 
  bottom:25%;
  font-size:180%;
  color:white;
}

.btn-primary{
  width: auto;
  display:block;
  text-align: center;
  word-wrap: normal;
}

.image_media{
  width:25%;
  padding-right:4%;
}

table{
  width:100%;
}

td, th{
  border:thin solid black;
  border-collapse: collapse;
  table-layout:auto;
  width:50%;
  padding:1%;
  text-align: center;
}

.illustratives{
  width:100%;
  height:300px;
  object-fit: cover;
}

.gutter-2.row {
  margin-left:-2%;
  margin-right: -2%;
  }
  .gutter-2{
    padding-left: 2%;
    padding-right: 2%;
  }

input{
  bottom: 10px;
}
  
footer{
  margin-top:20px;
  padding-top:20px;
  padding-bottom: 10px;
}

footer ul{
  list-style-type: none;
  text-align: center;
}

a.one:link, a.one:visited{
  color:white;
}

.navbar-light .navbar-toggler-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
